:root{
  --item-width: 180px;
  --item-margin:2px
}
.wrap{
  width: 736px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  margin: 2rem auto;
  overflow: hidden;
}

.right-in{
  animation: right-in .3s;
}
.left-in{
  animation: left-in .3s;
}
@keyframes right-in{
  0%{
    position: relative;
    left: calc( var(--item-width) + var(--item-margin)*2 );
  }
  100%{
    left: 0;
  }
}
@keyframes left-in{
  0%{
    position: relative;
    right: calc( var(--item-width) + var(--item-margin)*2 );
  }
  100%{
    right: 0;
  }
}